@model List<Page>
@{
    ViewData["Title"] = "人员介绍";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalPage = (int)ViewBag.TotalPage;//总页数
    int currentPage = (int)ViewBag.CurrentPage;//当前页
    int number = 3;//这里的数必须是奇数，用来显示一排有几个页码的
    int firstPage = currentPage - ((number - 1) / 2);
    int lastPage = currentPage + ((number - 1) / 2);
    if (firstPage < 1)
    {
        firstPage = 1;
    }
    if (lastPage > totalPage)
    {
        lastPage = totalPage;

        if (currentPage > totalPage - ((number - 1) / 2) && currentPage <= totalPage && totalPage >= number)
        {
            firstPage = lastPage - (number - 1);
        }
    }
    else
    {
        if (currentPage < 1 + ((number - 1) / 2) && currentPage >= 1 && totalPage >= number)
        {
            lastPage = number;
        }
    }
}
<!--主体-->
<div class="main_banner" style="background-image: url(/img/1841_src.jpg);">
    <img src="img/chan.jpg" alt="">
</div>
<!--主体-->
<div>您的当前位置——<a href="/Page/Index" style="color:red">人员列表</a></div>
<div class="beijing1">
    <ul class="case">
        @for (var i = 0; i < Model.Count; i++)
        {
            <li>
                <em><a href="/Page/Detail/@Model[i].ID"><img src="/img/1703_src.jpg" /></a></em>
                <div class="case_1">
                    <h3><a href="/Page/Detail/@Model[i].ID">@Model[i].Name</a></h3>
                    <span>加入时间：@Model[i].AddTime</span>
                </div>
            </li>
        }
    </ul>
    <div class="page">
        <a href="/Page/Index/@(currentPage-1<1?1:currentPage-1)" class="page_prev"> << </a>
        @for (int i = firstPage; i <= lastPage; i++)
        {
            if (i == currentPage)
            {
                <a href="/Page/Index/@(currentPage)" class="thisclass">@(currentPage)</a>
            }
            else
            {
                <a href="/Page/Index/@(i)">@(i)</a>
            }
        }
        <a href="/Page/Index/@(currentPage+1>totalPage?totalPage:currentPage+1)" class="page_next"> >> </a>
    </div>
</div>

