<footer class="ppp">
    <p style="font-size:13px;font-weight:bold"> &copy;@DateTime.Now.Year 逐梦 <a href="http://www.zhuxiang3180.cn">www.zhuxiang3180.cn</a> 版权所有 </p>
    <p style="font-size:13px;font-weight:bold"> 地址：中国海口 电话：438438438</p>
    <p>@Html.ActionLink("管理登录", "Login", "Home", new { area = "Manage" }, null)</p>
</footer>