<header>
    <div class="beijing">
        <h2><a href="/">逐 梦</a></h2>
        <ul>
            <!--首页-->
            <li>
                <a class="menu_1 hover" href="/">首页</a>
            </li>
            <!--关于我们-->
            <li>
                <a class="menu_1 " href="/AboutUs/Index">关于我们<em></em></a>
                <div class="menu ">
                    <div class="menu_left">
                        <a href="/AboutUs/Index">关于我们</a>
                        <a href="/JoinUs/Index">欢迎加入</a>
                        <a href="qi.html">团队风采</a>
                    </div>
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="/AboutUs/Index"><img src="~/img/284_src.jpg" /></a></dt>
                            <dd>
                                <div class="menu_right1" style="text-indent:2em;">一个死肥仔的小圈子</div>
                                <div class="menu_right2"><a href="/AboutUs/Index">查看详细</a></div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="/JoinUs/Index"><img src="~/img/801_sr.jpg"></a></dt>
                            <dd>
                                <div class="menu_right1">
                                    <p>	名称：逐梦 </p>
                                    <p> YY：49765898</p>
                                    <p> QQ群：548267162 </p>
                                </div>
                                <div class="/JoinUs/Index"><a href="cheng.html">查看详细</a></div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="qi.html"><img src="~/img/8_s.jpg"></a></dt>
                            <dt><a href="qi.html"><img src="~/img/8_1s.jpg"></a></dt>
                            <dd>
                                <div class="menu_right2"><a href="/AboutUs/Index">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <!--逐梦新闻-->
            <li>
                <a class="menu_1 " href="/News/Index">逐梦新闻<em></em></a>
                <div class="menu ">
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="xin.html"><img src="~/img/808_src.jpg"></a></dt>
                            <dd>
                                @await  Component.InvokeAsync("NewsComponent",new { num=3})
                                <div class="menu_right2"><a href="xin.html">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <!--人员表-->
            <li>
                <a class="menu_1 " href="/Page/Index">全体人员<em></em></a>
                <div class="menu ">
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="chan.html"><img src="~/img/810_src.jpg"></a></dt>
                            <dt><a href="chan.html"><img src="~/img/810_2src.jpg"></a></dt>
                            <dt><a href="chan.html"><img src="~/img/810_1src.jpg"></a></dt>
                            <dd>
                                <div class="menu_right1"></div>
                                <div class="menu_right2 aaa"><a href="/Page/Index">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <!--留言-->
            <li>
                <a class="menu_1 " href="ji.html">留言<em></em></a>
                <div class="menu ">
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="ji.html"><img src="~/img/2014_src.jpg"></a></dt>
                            <dd>
                                <div class="menu_right1" style="text-indent:2em;">把你想说的都说出来，反正也没人看</div>
                                <div class="menu_right2"><a href="ji.html">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <!--副本专区-->
            <li>
                <a class="menu_1 " href="an.html">副本专区<em></em></a>
                <div class="menu ">
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="an.html"><img src="~/img/832_src.jpg"></a></dt>
                            <dt><a href="an.html"><img src="~/img/832_1src.jpg"></a></dt>
                            <dt><a href="an.html"><img src="~/img/832_2src.jpg"></a></dt>
                            <dd>
                                <div class="menu_right1"></div>
                                <div class="menu_right2"><a href="an.html">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li> 
            <!--加入我们-->
            <li>
                <a class="menu_1 " href="/JoinUs/Index">加入我们<em></em></a>
                <div class="menu ">
                    <div class="menu_right">
                        <!--dl循环-->
                        <dl>
                            <dt><a href="/JoinUs/Index"><img src="img/810_s.jpg"></a></dt>
                            <dd>
                                <div class="menu_right1">
                                    <p>	名称：逐梦 </p>
                                    <p> YY：49765898</p>
                                    <p> QQ群：548267162 </p>
                                </div>
                                <div class="menu_right2"><a href="/JoinUs/Index">查看详细</a></div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>